/*could be changed in style.css to apply to all*/
/*sets the color of navigation sections*/
.navbar-light .navbar-nav .nav-link{
    color: #80aaa5;
}

/*could be changed in style.css to apply to all*/
/*sets the color of navigation sections*/
.navbar-light .navbar-nav .nav-link.active{
    color: #597d7d;
}

body{
    background: white;
}
h1{
    font-family: 'Lato';
    margin: 1rem;
    margin-left: 2rem;
}
.pagetitle{
    margin-top:30px;
    margin-left:30px;
}

.setting-container{
    display: flex;
    flex-direction: row;
}
.padding{
    margin-top:50px;
    margin-left: 46px;

}
.item{
    margin-right: 150px;
}
.setting-form{
    height:2.6rem;
    width: 23rem;
    margin-bottom: 1.5rem;

}
.text{
    color: #597D7D;
    font-size: 1.2rem;
}

.editIcon{
    color:#80aaa5;
}

.editIcon:hover{
    color:#b2cdc0;
}

.btn{
    color: white;
    border: none;
    border-radius: 25px;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #80aaa5;
}

.btn:hover{
    color: white;
    background-color: #597D7D;
}

.signOutSpace{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.signOutOption{
    color: #80aaa5;
    font-size: 20px;
    padding: 2rem;
}

.pageContent{
    display: flex; 
    margin-left: 5rem;
    margin-top: 1rem;
}

.formContainer{
    margin-left: 3rem;
}

.updateSpace{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    font-size: larger;
}

